<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrA9wmll0VzDyIatg96sw-Gn6OSsPU3SQ</string>
	<key>BUNDLE_ID</key>
	<string>com.MU-SOS</string>
	<key>CLIENT_ID</key>
	<string>94113573560-p499hhp860qsukil7n0jpoom2ulqit13.apps.googleusercontent.com</string>
	<key>DATABASE_URL</key>
	<string>https://mu-sos-e2651-default-rtdb.firebaseio.com</string>
	<key>GCM_SENDER_ID</key>
	<string>94113573560</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:94113573560:ios:e9ae6ff2b2b342a07ee24d</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>mu-sos-e2651</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94113573560-p499hhp860qsukil7n0jpoom2ulqit13</string>
	<key>STORAGE_BUCKET</key>
	<string>mu-sos-e2651.appspot.com</string>
</dict>
</plist>
